<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.regyl.gfi.repository.mapper.DataMapper">

    <resultMap id="IssueResponseResultMap" type="com.github.regyl.gfi.controller.dto.response.IssueResponseDto">
        <result property="issueId" column="issueId"/>
        <result property="issueTitle" column="issueTitle"/>
        <result property="issueUrl" column="issueUrl"/>
        <result property="issueUpdated" column="issueUpdated"/>
        <result property="issueCreated" column="issueCreated"/>
        <result property="repositoryTitle" column="repositoryTitle"/>
        <result property="repositoryUrl" column="repositoryUrl"/>
        <result property="repositoryStars" column="repositoryStars"/>
        <result property="repositoryDescription" column="repositoryDescription"/>
        <result property="repositoryLanguage" column="repositoryLanguage"/>
    </resultMap>

    <select id="findAllIssues" resultMap="IssueResponseResultMap" parameterType="com.github.regyl.gfi.controller.dto.request.DataRequestDto">
        SELECT
            ei.id AS issueId,
            ei.title AS issueTitle,
            ei.url AS issueUrl,
            ei.updated_at AS issueUpdated,
            ei.created_at AS issueCreated,
            er.title AS repositoryTitle,
            er.url AS repositoryUrl,
            er.stars AS repositoryStars,
            er.description AS repositoryDescription,
            er.language AS repositoryLanguage
        FROM gfi.e_issue ei
        INNER JOIN gfi.e_repository er ON ei.repository_id = er.id
        <where>
            <if test="filter != null and filter.languages != null and filter.languages.size() > 0">
                er.language IN
                <foreach collection="filter.languages" item="language" open="(" separator="," close=")">
                    #{language}
                </foreach>
            </if>
        </where>
        <if test="orders != null and orders.size() > 0">
            ORDER BY
            <foreach collection="orders" item="order" separator=",">
                ${order.field} ${order.type}
            </foreach>
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>

</mapper>
